// contient le style a afficher pour le format tablet et desktop

body{
  // affiche le bandeau du profiler de symfony en bleu sombre
  .sf-toolbarreset{
    background-color: #244657;
  }
  div{
    background-color:rgb(114, 28, 172);
  }
  h1 {
    text-align: center; /* centré */
    } 
    h1{
      color: darkslateblue;
    }
  p{
    color:black;
}
}
// ce style est egalement defini dans le fichier ./public/build