{% extends 'base.html.twig' %}

{% block title %}Hello World!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<h1> Liste des theses tendance</h1>



   {% for  ecoleDoctorale in ecoleDoctorales %} 
            <li><h2>{{ ecoleDoctorale.nom|capitalize }}</h2></li>
             <li><h2>{{ ecoleDoctorale.lien|capitalize }}</h2></li>
            <ol>
            {% for these in ecoleDoctorale.theses %} 
                 <li>{{ these.titre|capitalize }} </li>
                 <p>{{ these.description|capitalize }}<p>
                  <h3>{{ these.contact|capitalize }}<h3>
                {% endfor %} 
            </ol>

  {% endfor %}

{% endblock %}